.header {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);

  min-height: 100vh;
  &__title {
    text-align: center;
    padding-top: 10%;
    img {
      width: 10%;
      height: auto;
    }
    h1 {
      font-size: 8rem;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
